@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Black-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Black-Italic.woff") format("woff");
                          
	font-weight: 900;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Black.woff2") format("woff2"),
                                   url("../fonts/Mark-Black.woff") format("woff");
                          
	font-weight: 900;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Bold-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Bold-Italic.woff") format("woff");
                          
	font-weight: 700;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Book.woff2") format("woff2"),
                                   url("../fonts/Mark-Book.woff") format("woff");
                          
	font-weight: 400;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Book-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Book-Italic.woff") format("woff");
                          
	font-weight: 400;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Extralight-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Extralight-Italic.woff") format("woff");
                          
	font-weight: 200;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Extralight.woff2") format("woff2"),
                                   url("../fonts/Mark-Extralight.woff") format("woff");
                          
	font-weight: 200;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Hairline-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Hairline-Italic.woff") format("woff");
                          
	font-weight: 400;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Bold.woff2") format("woff2"),
                                   url("../fonts/Mark-Bold.woff") format("woff");
                          
	font-weight: 700;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Hairline.woff2") format("woff2"),
                                   url("../fonts/Mark-Hairline.woff") format("woff");
                          
	font-weight: 400;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Heavy-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Heavy-Italic.woff") format("woff");
                          
	font-weight: 800;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Heavy.woff2") format("woff2"),
                                   url("../fonts/Mark-Heavy.woff") format("woff");
                          
	font-weight: 800;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Light-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Light-Italic.woff") format("woff");
                          
	font-weight: 300;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Medium-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Medium-Italic.woff") format("woff");
                          
	font-weight: 500;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Medium.woff2") format("woff2"),
                                   url("../fonts/Mark-Medium.woff") format("woff");
                          
	font-weight: 500;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Light.woff2") format("woff2"),
                                   url("../fonts/Mark-Light.woff") format("woff");
                          
	font-weight: 300;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Regular-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Regular-Italic.woff") format("woff");
                          
	font-weight: 400;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Regular.woff2") format("woff2"),
                                   url("../fonts/Mark-Regular.woff") format("woff");
                          
	font-weight: 400;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-SmallCaps-Black.woff2") format("woff2"),
                                   url("../fonts/Mark-SmallCaps-Black.woff") format("woff");
                          
	font-weight: 400;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-SmallCaps-Regular.woff2") format("woff2"),
                                   url("../fonts/Mark-SmallCaps-Regular.woff") format("woff");
                          
	font-weight: 400;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Thin-Italic.woff2") format("woff2"),
                                   url("../fonts/Mark-Thin-Italic.woff") format("woff");
                          
	font-weight: 100;
                          
	font-style: normal;
                          

                            }
                          
@font-face {
                          
	font-family: Mark;
                          
	font-display: swap;
                          
	src: url("../fonts/Mark-Thin.woff2") format("woff2"),
                                   url("../fonts/Mark-Thin.woff") format("woff");
                          
	font-weight: 100;
                          
	font-style: normal;
                          

                            }
                          
