/* fonts-giant */
$fonts-giant-1920: 220px;
$fonts-giant-1680: 180px;
$fonts-giant-1440: 160px;
$fonts-giant-1280: 130px;
$fonts-giant-1024: 66px;
$fonts-giant-700: 60px;

/* $fonts-major */
$fonts-major-1920: 150px;
$fonts-major-1280: 120px;
$fonts-major-1024: 60px;

/* fonts-h1 */
$fonts-h1-1920: 120px;
$fonts-h1-1680: 100px;
$fonts-h1-1440: 90px;
$fonts-h1-1280: 70px;
$fonts-h1-1024: 54px;
$fonts-h1-700: 40px;

/* fonts-h2 */
$fonts-h2-1920: 100px;
$fonts-h2-1680: 80px;
$fonts-h2-1280: 60px;
$fonts-h2-1024: 30px;

/* fonts-h3 */
$fonts-h3-1920: 80px;
$fonts-h3-1680: 60px;
$fonts-h3-1280: 46px;
$fonts-h3-1024: 30px;

/* $fonts-big */
$fonts-big-1920: 40px;
$fonts-big-1680: 34px;
$fonts-big-1280: 28px;
$fonts-big-1024: 18px;

/* fonts-main */
$fonts-main-1920: 30px;
$fonts-main-1680: 24px;
$fonts-main-1280: 20px;
$fonts-main-1024: 18px;

/* fonts-small */
$fonts-small-1920: 20px;
$fonts-small-1680: 16px;
$fonts-small-1280: 14px;
$fonts-small-1024: 12px;