@mixin flex-line-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@mixin flex-line-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}