.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1680px) {
  .container {
    max-width: 1680px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 700px;
  }
}