.partners {
    padding: 130px 120px;

    &__heading {
        font-weight: 550;
        line-height: 105px;
        font-size: $fonts-h3-1920;
    }

    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 40px 0 0 0;
    }

    &__card {
        @include flex-center-center();
        padding: 100px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        text-decoration: none;
        width: 100%;

        &:nth-child(3n+1) {
            border-left: 0;
        }

        &:nth-child(1) {
            border-left: 0;
        }

        &:nth-child(1) {
            border-bottom: 0;
        }

        &:nth-child(2) {
            border-bottom: 0;
        }

        &:nth-child(3) {
            border-bottom: 0;
        }
    }

    &__logo {
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 1680px) {
    .partners {
        padding: 100px 80px;

        &__heading {
            font-size: $fonts-h3-1680;
            line-height: 76px;
        }

        &__block {
            padding: 50px 0 0 0;
        }

        &__card {
            padding: 80px 0;
        }
    }
}

@media screen and (max-width: 1440px) {
    .partners {
        padding: 60px;

        &__card {
            padding: 60px 0;
        }
    }
}

@media screen and (max-width: 1280px) {
    .partners {
        padding: 50px 40px;

        &__heading {
            font-size: $fonts-h3-1280;
            line-height: 64px;
        }

        &__block {
            padding: 32px 0 0 0;
        }

        &__card {
            padding: 40px 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .partners {
        padding: 42px 32px;

        &__heading {
            font-size: $fonts-h3-1024;
            line-height: 40px;
        }

        &__block {
            padding: 24px 0 0 0;
        }

        &__card {
            padding: 32px 0;
        }
    }
}

@media screen and (max-width: 700px) {
    .partners {
        padding: 42px 18px;

        &__block {
            padding: 30px 0 0 0;
        }

        &__card {
            padding: 18px 0;
        }
    }
}